.post {
    position: relative;
    padding-top: 60%; /*define box height to width ratio*/
    overflow: hidden;
    height: 0;
    min-height: unset;
}

.hero-banner {
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
}

.w-100 {
    width: unset;
}

.img-fluid {
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: unset;
    max-width: unset;
}

.logo-box {
    width: 160px;
    height: 40px;
    overflow: hidden;
    position: relative;
}

.li {
    line-height: 1.7;
}
