{{ define "main" }}

<section class="section-sm pb-0 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="text-center">{{.Title | markdownify}}</h1>
        {{ with .Params.image }}
        <img src="{{ . | absURL }}" alt="author" class="author-img">
        {{ end }}
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <h4>links</h4>
      <ul class="list-inline social-icons">
        {{ range .Site.Social }}
        <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
        {{ end }}
      </ul>  
      <div class="content">test {{.Content}}</div>
    </div>
  </div>
</section>

{{ end }}
