{{ define "main" }}

<section class="bg-light hero-banner">
  {{ with $.Site.Params.heroimage }}
    <img src="{{ . | absURL }}" alt="Leonardo Zangrando" class="img-fluid w-100">
  {{ end }}
  <div class="container">
    <div class="row hero-image">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="text-center text-white">{{ $.Site.Params.heroquote | markdownify}}</h1>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="col-lg-8 mx-auto">
      <div class="content">{{ $.Site.Params.description }}</div>
    </div>
  </div>
</section>

{{ end }}
