{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="text-center">
      <h1 class="text-center display-3">{{.Title | markdownify}}</h1>
    </div>
  </div>
</section>

<section class="section pt-0">
  <div class="container">
    <div class="row col-lg-8 mx-auto">
      <form action="{{ .Site.Params.contact_form_action }}" method="POST" class="row">
        <div class="form-group col-md-6">
          <input type="text" name="entry.934788250" id="entry_934788250" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group col-md-6">
          <input type="text" name="entry.64710832" id="entry_64710832" class="form-control" placeholder="Last Name">
        </div>
        <div class="form-group col-md-6">
          <input type="email" name="entry.2023792812" id="entry_2023792812" class="form-control" placeholder="Email Address">
        </div>
        <div class="form-group col-md-6">
          <input type="text" name="entry.1936391462" id="entry_1936391462" class="form-control" placeholder="Subject">
        </div>
        <div class="form-group col-12">
          <textarea name="entry.1800989726" id="entry_1800989726" class="form-control" placeholder="Type Your Message Here ..."></textarea>
        </div>
        <div class="form-group col-md-3 align-left">
          <input type="checkbox" name="entry.643952891" id="entry_643952891" class="form-control" placeholder="Subject" value="I+agree+to+be+contacted+in+relation+to+this+message.">
        </div>
        <div class="col-md-6 text-left">
          <p>I agree to be contacted in relation to this message.</p>
        </div>
        <div class="col-md-3 text-right">
          <button class="btn btn-primary" type="submit">Send now</button>
        </div>
      </form>
    </div>
  </div>
</section>

{{ end }}
